// quotation
.part-quote {
    position: relative;
    padding: 80px 0;
    background: url('../img/deg-bg.jpg') center center repeat;
    background-size: 500px;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(md) {
        padding: 60px 0;
    }
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(93deg, #5aab61, #25523b);
        z-index: -1;
        opacity: .99;
    }
    .part-img {
        .both-img {
            position: relative;
            @include media-breakpoint-down(sm) {
                position: relative;
                width: 250px;
                display: inline-flex;
                left: 50%;
                transform: translateX(-50%);
            }
            @include media-breakpoint-down(mobile) {
                width: 220px;
            }
            .single-img, .single-video {
                overflow: hidden;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }
            .single-img {
                width: 300px;
                position: relative;
                @include media-breakpoint-down(xl) {
                    width: 280px;
                }
                @include media-breakpoint-down(lg) {
                    width: 190px;
                }
                @include media-breakpoint-down(mobile) {
                    width: 170px;
                }
                &:after {
                    position: absolute;
                    content: '';
                    left: 14px;
                    top: 14px;
                    right: 14px;
                    bottom: 14px;
                    border: 1px solid rgba($white, 0.8);
                    border-radius: 50%;
                    @include media-breakpoint-down(lg) {
                        left: 10px;
                        top: 10px;
                        bottom: 10px;
                        right: 10px;
                    }
                }
                img {
                    border-radius: 50%;
                }
            }
            .single-video {
                position: absolute;
                margin-left: 24px;
                border-radius: 50%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 200px;
                height: 200px;
                @include media-breakpoint-down(xl) {
                    width: 180px;
                    height: 180px;
                }
                @include media-breakpoint-down(lg) {
                    width: 130px;
                    height: 130px;
                }
                @include media-breakpoint-down(mobile) {
                    width: 110px;
                    height: 110px;
                }
                &:after {
                    position: absolute;
                    content: '';
                    left: 10px;
                    top: 10px;
                    bottom: 10px;
                    right: 10px;
                    background: $gradient-1;
                    opacity: .8;
                    border-radius: 50%;
                    @include media-breakpoint-down(lg) {
                        left: 6px;
                        top: 6px;
                        bottom: 6px;
                        right: 6px;
                    }
                }
                a.play-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    color: $white;
                    border: 2px solid $white;
                    width: 50px;
                    height: 50px;
                    line-height: 46px;
                    z-index: 2;
                    text-align: center;
                    border-radius: 50%;
                }
            }
        }
    }
    .par-text {
        padding-left: 100px;
        @include media-breakpoint-down(xl) {
            padding-left: 60px;
        }
        @include media-breakpoint-down(lg) {
            padding-left: 0;
            margin-top: 50px;
        }
        @include media-breakpoint-down(md) {
            margin-top: 40px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 44px;
        }
        p  {
            font-size: 29px;
            line-height: 49px;
            font-weight: 300;
            font-family: $heading-font;
            color: $white;
            position: relative;
            margin-top: -14px;
            margin-bottom: -18px;
            @include media-breakpoint-down(xxl) {
                font-size: 27px;
                line-height: 47px;
                margin-top: -13px;
                margin-bottom: -17px;
            }
            @include media-breakpoint-down(xl) {
                font-size: 24px;
                line-height: 44px;
                margin-bottom: -16px;
            }
            @include media-breakpoint-down(md) {
                font-size: 22px;
                line-height: 40px;
                margin-bottom: -13px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 20px;
                line-height: 36px;
                margin-bottom: -12px;
                text-align: center;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 16px;
                line-height: 30px;
            }
            span {
                display: inline-block;
                &.quot-icon {
                    width: 200px;
                    position: absolute;
                    opacity: .08;
                    top: -75px;
                    left: -75px;
                    z-index: 7;
                    @include media-breakpoint-down(xxl) {
                        width: 160px;
                        position: absolute;
                        opacity: 0.08;
                        top: -80px;
                        left: -80px;
                    }
                    @include media-breakpoint-down(xl) {
                        width: 140px;
                        top: -70px;
                        left: -70px;
                    }
                    @include media-breakpoint-down(lg) {
                        width: 100px;
                        top: -40px;
                        left: -40px;
                    }
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
                &.signature-t {
                    position: absolute;
                    bottom: 11px;
                    left: 63%;
                    width: 160px;
                    z-index: 2;
                    @include media-breakpoint-down(xxl) {
                        bottom: 10px;
                    }
                    @include media-breakpoint-down(xl) {
                        bottom: 11px;
                        left: 68%;
                        width: 120px;
                    }
                    @include media-breakpoint-down(md) {
                        bottom: 9px;
                        width: 100px;
                    }
                    @include media-breakpoint-down(sm) {
                        position: relative;
                        left: 50%;
                        display: block;
                        transform: translateX(-50%);
                        margin-top: 26px;
                    }
                    @include media-breakpoint-down(mobile) {
                        width: 80px;
                        margin-top: 29px;
                    }
                    img {
                        filter: brightness(1);
                    }
                }
                &.divider {
                    display: block;
                    height: 0.5px;
                    width: 57%;
                    background: rgb(51 107 69);
                    margin: 27px 0 25px;
                    @include media-breakpoint-down(md) {
                        margin: 19px 0 19px;
                    }
                    @include media-breakpoint-down(sm) {
                        background: #42814f;
                        width: 100%;
                    }
                    @include media-breakpoint-down(mobile) {
                        margin: 21px 0 24px;
                    }
                }
            }
            strong {
                display: inline-block;
                position: relative;
                padding: 0 0px 0 90px;
                font-weight: 300;
                font-size: 26px;
                font-style: italic;
                opacity: 0.9;
                @include media-breakpoint-down(xxl) {
                    font-size: 24px;
                }
                @include media-breakpoint-down(xl) {
                    padding-left: 45px;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 22px;
                    padding-left: 0;
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 20px;
                }
                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 0.1px;
                    width: 80px;
                    background: $white;
                    @include media-breakpoint-down(xl) {
                        width: 35px;
                    }
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
                &:after {
                    content: 'CEO of Nursio';
                    font-size: 16px;
                    padding-left: 10px;
                    margin-left: 10px;
                    border-left: 1px solid rgba($white, 0.5);
                    font-style: normal;
                    @include media-breakpoint-down(sm) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}